.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.toastr {
    color: white!important;
    background: black!important;
    border: 1px solid black
}

.toastProgress {}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.custom-btn {
    padding: 5px 50px;
    background: linear-gradient( 224.89deg, #ffd12b 36.94%, #ffff7b 49.9%, #fff469 62.87%);
    border-radius: 11px;
}

.gradient-text {
    text-shadow: #ff7a00 50%;
    background: -webkit-linear-gradient(#ffd12b 100%, #ffff7b 100%, #fff469 100%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.modal {
    overflow-y: hidden !important;
}

@media (max-width: 801px) {
    .mobile-text {
        display: inline-block !important;
    }
    .desktop-text {
        display: none !important;
    }
}

.mobile-text {
    display: none;
}