.card-collection-container {
    width: 90% !important;
    margin: auto;
}

.battle-modal {
    top: -50px;
    text-align: initial;
    background: #0c0c0c;
    box-shadow: 0px 0px 20px rgba(255, 122, 0, 0.5);
    border-radius: 0px 24px 24px 24px;
    position: absolute;
    width: 330px;
    left: -75px;
    z-index: 999;
    padding: 10px;
    border: 3px solid #ffd12b;
}

.card-row {
    margin: 10px 14px;
    flex: 0 0 15%;
    flex-direction: row;
    margin-right: -5px;
    margin-bottom: 5px;
    padding: -6%;
}

.bottom-card-row {
    flex: 0 0 15%;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.active {
    box-shadow: 0px 0px 20px rgb(255 122 0 / 100%);
    background: black;
    border: 4px solid yellow !important;
    border-radius: 30px;
}

.nft-active{
    box-shadow: 0px 0px 20px rgb(255 122 0 / 100%);
    background: black;
    border: 4px solid orange !important;
    border-radius: 30px;
}

.modal-font-weight {
    font-weight: 200 !important;
}


.card {
    border: hidden;
}

.waiting-opponent .modal {
    overflow-y: hidden !important;
    top: -10% !important;
}

.spinner-border {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 15% !important;
}

.card-collection-container .modal {
    top: -20% !important;
}

.card-selection-txt {
    font-size: 2vw;
    width: 25% !important;
    text-align: center;
}

.card-border {
    border: 1px solid yellow !important;
    border-radius: 20px!important;
}

.nft-card{
    border: 3px solid red !important;
    border-radius: 20px!important;
}
.cardLoading{
    top: 40%!important;
    right: 40% !important;
}

.additional-info{
    background-image: url('https://playassets.s3.eu-west-1.amazonaws.com/GamePlay.jpg')!important;
    width: 100%!important;
    
}

.bg-image{
    color: #ffd12b;
    font-size: 28px;
    text-transform: uppercase!important;
    background: #0c0c0c;
    border: 7px solid #ffd12b;
    background-position: center;
    border-radius: 24px;
    background-image: url("https://playassets.s3.eu-west-1.amazonaws.com/GamePlay.jpg");
}

.continue-info-modal{
    background: linear-gradient( 
224.89deg
, #ffd12b 36.94%, #ffff7b 49.9%, #fff469 62.87%);
    border-radius: 11px;
    width: 35%;
}

.card-selection{
    width: 60%;
    font-size: 1.4vw;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.select-card{
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: yellow;
}